/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

label {
    font-weight: 700;
}

input.btnRight {
    float: right;
    cursor: pointer;
    border: 1px solid #a72726;
}

input.btnLeft {
    float: left;
    cursor: pointer;
    border: 1px solid #a72726;
}

input.btnCenter {
    cursor: pointer;
    border: 1px solid #a72726;
}

input.btnRight:hover, input.btnLeft:hover, input.btnCenter:hover {
    background-color: #a72726;
    color: #fff;
}

li {
    margin-left: 2em;
}

p {
    line-height: 1.5em;
}

.loading {

}
.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

.linkbutton {
    background:none!important;
    border:none;
    padding:0!important;
    text-decoration:underline;
    cursor:pointer;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #48802c;
}
