<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/main.css' />
      <link rel='stylesheet' href='/stylesheets/application.css'/>
      <link rel="shortcut icon" href="http://www.mashery.com/sites/default/files/favicon.ico"
            type="image/vnd.microsoft.icon">
      <script type="text/javascript" src="/javascripts/jquery-1.12.0.min.js"></script>​
    </head>
  <body>
      <header>
          <a href="/">
              <img src="http://www.mashery.com/sites/all/themes/mashery/images/mashery-logo-desktop.png"
                   alt="TIBCO Mashery" title="Mashery Tools Home">
          </a>
      </header>
      {{{body}}}
  </body>
</html>
