// Mashery account
mashery_user_id='your Mashery user name';
mashery_password='your Mashery password';

// V3 API
mashery_api_key='your Mashery V3 API key';
mashery_api_key_secret='shared secret for your Mashery V3 API key';

// Areas
mashery_area_uuids=[
    {
        name: 'myareaname.mashery.com',
        uuid: 'myareauuid',
        tm_host: 'myareaname.api.mashery.com',
        admin_url: 'https://myareaname.admin.mashery.com/control-center'
    }
];
